@CHARSET "ISO-8859-1";

body {
	margin: 0; /* entire body margin */
	padding: 0; /* inner component margin */
	background-color: #BDF994;
	font-family: 'Arial';
}

.login {
	width: 350px;
	height: auto;
	margin: 220px 450px 50px 550px; /*top, right , bottom, left */
	padding: 20px;
	background: #fff;
	border-radius: 15px;
}

.login label {
	padding: 10px;
}

.login a {
	background-color: none;
	color: #04AA6D;
}

h2 {
	text-align: center;
	padding: 5px;
}

span {
	color: red;
	font-size: 17px;
}

input[type=text], [type=password], [type=email] {
	width: 300px;
	height: 50px;
	border: solid;
	border-radius: 12px;
	padding-left: 8px;
	margin-left: 8px;
}

input[type=button], input[type=submit] {
	background-color: #0BD3A8;
	color: white;
	width: 300px;
	height: 30px;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	font-size: 17px;
	margin-left: 10px;
}

input[type=button], input[type=submit] {
	background-color: #0BD3A8;
	color: white;
	width: 300px;
	height: 30px;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	font-size: 17px;
	margin-left: 10px;
}

label, select, input[type=date] {
	font-size: 17px;
	margin: 10px;
}

select {
	font-size: 17px;
	padding: 5px;
}

option {
	font-size: 17px;
}

.spaced-element {
	padding-bottom: 3rem; 
}